<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
        <h1 class="py-4 bg-dark text-light rounded" ><i class="far fa-question-circle"></i>My updated top musics of spotify</h1>

        <h1><%= myTopTracks %></h1>

   
    </div>

</body>
</html>